/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

$columnal-grid-width: 960px !default

// http://colorschemedesigner.com/#4h42vamqUdrXu
$purple: #746993
$red: #BC7F95
$green: #A2C183
$yellow: #D6CC91

@import compass/reset
@import columnal/grid

section.container
  +grid-container

section.row
  +grid-row

body
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif
  background: url("/assets/retina_wood.png")
  padding-top: 1em
  padding-bottom: 1em

h1
  font-family: 'Changa One', cursive
  font-size: 3em
  color: #282B2A

img
  margin: 0
  +border-radius(0)

body.users.show
  .games
    +grid(8)
    +grid-prefix(2)
    h1
      text-align: center
      margin-bottom: 40px
    .game
      margin-bottom: 20px
      +grid-subcolumn(8, 2)
      &:nth-child(4n+1)
        +last
      h2
        display: none
      .game_image
        position: relative
        overflow: hidden
        display: inline-block
        +box-shadow(black 0 0 3px)
        img
          width: 125px
          height: 171px
      span.game_completeness
        position: absolute
        left: -20px
        top: 10px
        background: $green
        color: white
        padding: 2px 0
        width: 81px
        text-align: center
        +box-shadow(gray 0 0 3px)
        +rotate(-45deg)
